<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleGetInfoString</key>
	<string>NSAppTransportSecurity</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionAllowsInsecureHTTPLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>light-reality-293618.uc.r.appspot.com</key>
			<dict/>
		</dict>
	</dict>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
